.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imageClass {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 160px;
  
} 


.schoolImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    position: relative;
    top: 150px;
}


.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 160px;
} 

.otherImages {
  width: 65%;
  min-width: 500px;
}

.mcqImage {
  margin-left: auto;
  margin-right: auto;
}

.yawnImg {
  width: 55%;
  min-width: 500px;
}

.campImg, .bookImg {
  width: 50%;
  min-width: 350px;
}



.mcqButton {
  color: black;
  background-color: white;
  font-weight: bold;
  border-radius: 30px;
  width: 400px;
  height: 50px;
  border: 1px solid black;
  position: relative;
  margin-bottom: 4px;
  cursor: pointer;
}

.mcqButton:hover {
  background-color: #f1f1f1;
}

.option-selected {
  background-color: rgba(232, 226, 237, 1);
  border: 1px solid rgba(232, 226, 237, 1);

}

.option-selected:hover {
  background-color: rgba(232, 226, 237, 1);
}



